.table-size-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid var(--primary-color);
  margin-bottom: 5px;
}

td {
  border-collapse: collapse;
  border: 3px solid var(--primary-color);
  padding: 10px;
}
.name-of-clothes {
  padding: 5px;
  margin-top: 20px;
  text-align: center;
  font-weight: 1000;
  filter: drop-shadow(0 0 5px red);
}

.name-of-gender {
  margin-top: 5px;
  padding: 5px;
  font-weight: 700;
  filter: drop-shadow(0 0 5px orange);
}
